body {
    max-width: 1000px;
    margin: 0px auto;
    padding: 20px;
    font-size: 13px;
    text-align: center;
    color: #202020;
}

button {
    width: 100px;
    margin: 0px 10px 10px 0px;
    padding: 5px 0px;
    border: 1px solid #000;
    background: #fff;
    outline: none;
    font-family: monospace;
    text-align: center;
}

button:active {
    background: #000;
    color: #fff;
}

.scene {
    height: max-content;
}

.film {
    position: relative;
    left: 0;
    top: 0;
    z-index: 0;
}
.chest {
    position: absolute;
    height: 100%;
    width: 90%;
    font-size: 10em;
    top: 50%;
    z-index: 9;
    letter-spacing: -0.2em;
}
